basePath: /api
definitions:
  httpresp.Error:
    properties:
      error:
        type: string
      message:
        type: string
    type: object
  usecase.GetColorsResponseItem:
    properties:
      hexCode:
        type: string
      id:
        type: integer
      name:
        type: string
    type: object
host: localhost:4321
info:
  contact: {}
  description: Free-Diagrams SQL API
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
  title: Free-Diagrams SQL API
  version: "1.0"
paths:
  /colors:
    get:
      consumes:
      - application/json
      description: Get all colors
      parameters:
      - default: en-US
        description: Language preference
        in: header
        name: Accept-Language
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            items:
              $ref: '#/definitions/usecase.GetColorsResponseItem'
            type: array
        "401":
          description: Unauthorized
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/httpresp.Error'
      security:
      - ApiKeyAuth: []
      summary: Get all colors
      tags:
      - Color
swagger: "2.0"
